.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #282c34, #61dafb);
  color: #fff;
}

/* Gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Content styling */
.content {
  text-align: center;
  z-index: 1; /* Ensures content stays above the background */
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content h1 span {
  color: #ffeb3b;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.socials a {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #ffeb3b;
}
